#background {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  z-index: -1;
}

#demo {
  width: 300px;
  height: auto;
  text-align: center;
  margin-bottom: 8px;
}

#target {
  margin-left: auto;
	margin-right: auto;
	display: block;
}

body {
  text-align: center;
  margin: 0 auto;
  background-color: rgba(255, 212, 128, 0.8);
  /* background-color: #FFE4C4; */
  font-family: "Yanone Kaffeesatz";
  font-size: 20px;
  letter-spacing: 0.5px;
  overflow:hidden;
}

h1 {
  font-family: "Bungee";
  font-size: 45px;
  margin: 5px auto;
}

img {
  width: 25px;
  height: auto;
}

a {
  text-decoration: none;
  color: green;
}

#github {
  text-align: center;
  bottom: 0;
}

#view-github {
  display: inline-block;
  padding: 0 5px;
  font-size: 15px;
  margin-top: 80px;
}

#myCanvas {
  margin-top: 40;
  display: inline;
  border: 1px solid #d3d3d3;
  /* background-color: rgba(217, 217, 217, 0.4); */
  background-color: rgb(245, 245, 220);
}

.player-stats {
  display: inline-block;
  width: 20%;
}

#level-prompt {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  border: 3px solid #d3d3d3;
  padding: 8px;
  width: 300px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

#exit-game-box {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  border: 3px solid #d3d3d3;
  padding: 8px;
  width: 300px;
  height: 90px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

#message {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  border: 3px solid #d3d3d3;
  padding: 8px;
  width: 300px;
  height: 90px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

#credits {
  font-size: 18px;
  padding-top: 5px;
  margin: 0;
}

#level-num-heading {
  margin: 2px;
}

#credits, #level-prompt-text {
  margin: 5px auto 8px auto;
}

#exit-game-ask, #description, #proceed-next-level-text {
  margin: 12px;
}

#instructions-box {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin: auto;
  border: 3px solid #d3d3d3;
  padding: 8px;
  width: 400px;
  height: 330px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

#header {
  border: 3px solid #d3d3d3;
  padding: 6px;
  width: 500px;
  height: 110px;
  margin: 10px auto;
}

button {
  background-color: #f4511e;
  border: none;
  color: rgb(255, 255, 255);
  padding: 8px 15px;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 3px 4px;
  opacity: 0.7;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: "Yanone Kaffeesatz";
  border-radius: 10px;
}

button:hover {
  opacity: 1
}
