body {
  text-align: center;
  margin: 0 auto;
  background-color: rgba(255, 212, 128, 0.8);
  /* background-color: #FFE4C4; */
  font-family: "Yanone Kaffeesatz";
  font-size: 20px;
  letter-spacing: 0.5px;
  overflow:hidden;
}

/* canvas homepage background */
#background {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  z-index: -1;
}

/* Game Heading */
#header {
  border: 3px solid #d3d3d3;
  padding: 6px;
  width: 500px;
  height: 110px;
  margin: 10px auto;
}

h1 {
  font-family: "Bungee";
  font-size: 45px;
  margin: 5px auto;
}

/* Buttons */
button {
  background-color: #f4511e;
  border: none;
  color: rgb(255, 255, 255);
  padding: 8px 15px;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 3px 4px;
  opacity: 0.75;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: "Yanone Kaffeesatz";
  border-radius: 10px;
}

button:hover {
  opacity: 1
}

/* demo video for instructions */
#demo {
  width: 300px;
  height: auto;
  text-align: center;
  margin-bottom: 8px;
}

#target {
  margin-left: auto;
	margin-right: auto;
	display: block;
}

/* View Game Code On GitHub */
#github-logo {
  width: 25px;
  height: auto;
}

a {
  text-decoration: none;
  color: green;
}

#github {
  text-align: center;
  bottom: 0;
}

#view-github {
  display: inline-block;
  padding: 0px 5px;
  font-size: 15px;
  margin-top: 80px;
}

#myCanvas {
  position: relative;
  margin-top: 40;
  display: inline;
  border: 1px solid #d3d3d3;
  /* background-color: rgba(217, 217, 217, 0.4); */
  background-color: rgb(245, 245, 220);
}

/* Player Stats: Level #, Score, Balls Captured */
.player-stats {
  display: inline-block;
  width: 20%;
}

#level-prompt {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  border: 3px solid #d3d3d3;
  padding: 8px;
  width: 300px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

#exit-game-box, #message {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  border: 3px solid #d3d3d3;
  padding: 8px;
  width: 300px;
  height: 90px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

#credits {
  font-size: 18px;
  padding-top: 5px;
  margin: 0;
}

#level-num-heading {
  margin: 2px;
}

#credits, #level-prompt-text {
  margin: 5px auto 8px auto;
}

#exit-game-ask, #description, #proceed-next-level-text {
  margin: 12px;
}

#instructions-box {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin: auto;
  border: 3px solid #d3d3d3;
  padding: 8px;
  width: 400px;
  height: 330px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

/* @media (max-width: 800px) {
  #bounding-box {
    overflow: hidden;
  }
  #myCanvas {
    overflow: inherit;
  }
} */
